<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="profit" class="container">
        <h1 class="text-danger" v-if="!user">please login before opening profile page</h1>
        <h3 v-if="!user">you will redirect in {{limit}} seconds</h3>
        <div v-if="user">
            <img v-bind:src="user.picture.large">
            <h1>{{user.name.first}}</h1>
            <button v-on:click="logout()">log out</button>
            </div>

    </div>


    <script  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="profit.js"></script>

</body>
</html>